@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@font-face{
    font-family: Formula1-Regular;
    src: url(fonts/Formula1-Regular.ttf);
}

body{
    margin: 0;
    height: 100vh;
    width: auto;
}
h1{
    font-family: Formula1-Regular, sans-serif;
}
.vert{
    writing-mode: vertical-rl;
  text-orientation: upright;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .space{
    margin-left: 30px;
  }
  .ferrari{
    animation: ferrari 4s;
    animation-fill-mode: forwards;
  }
  .aston{
    animation: aston 4s;
    animation-fill-mode: forwards;
}
.merc{
    
}
.williams{
    
}
.alpha{

}
.mclaren{
    
}
.haas{
    
}
.alfa{
    
}
.alpine{
    
}
.redbull{
    
}
.F{
animation: F 4.5s;
animation-fill-mode: forwards;
}
@keyframes ferrari{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes aston{
    0%{}
    100%{
        transform: translateY(202.5px);
    }
}
@keyframes merc{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes williams{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes alpha{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes mclaren{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes haas{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes alfa{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes alpine{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes redbull{
    0%{}
    100%{
        transform: translateY(300px);
    }
}
@keyframes F{
    0%{}
    95%{
        color: black;
    }
    100%{
        color: red;
    }
}